<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 


    
    <link rel="stylesheet" href="{% static 'homepage/style/reset.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/style/main.css'%}">
    <link rel="stylesheet" href="{% static 'homepage/style/cta.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Controller Doktor</title>
    
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'homepage/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'homepage/icons/favicon-16x16.png' %}">


    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'homepage/icons/apple-touch-icon.png' %}">


    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'homepage/icons/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'homepage/icons/android-chrome-512x512.png' %}">

</head>

<body>
    <div class="mobile-menu-btn" onclick="navbar()">
        <img src="{% static 'homepage/img/burger-menu.png'%}" alt="mobile-menu-btn">
    </div>
    
    <a class="logo" id="logo-mobile" href="{% url 'home' %}">
        <img src="{% static 'homepage/img/logo.png' %}" alt="Logo">
        <h3>ControllerDoktor.de</h3>
    </a>


<header class="header-main">
        <nav>
            <a class="logo" href="">
                <img src="{% static 'homepage/img/logo.png'%}" alt="Logo">
                <h3>ControllerDoktor.de</h3>
            </a>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}#ueber-uns" onclick="navbar()">Über uns</a></li>
                <li><a href="{% url 'home' %}#dienstleistungen" onclick="navbar()">Dienstleistungen</a></li>
                
                <li><a href="{% url 'blog_list' %}">Blog</a></li>
                <li class="handy-screen-more" id="droppdown-kontakt-display"><a href="{% url 'kontakt' %}">Kontakt</a></li>
                
                <li class="handy-screen"><a href="{% url 'kontakt' %}">Kontakt</a></li>
            </ul>     
        </nav>

</header>


    <main>
        <div class="ctaform">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form">
                    <label>Name</label>
                    <input name="name" id="name" required></textarea>
                </div>
                <div class="form">
                    <label>E-Mail</label>
                    <input type="email" name="e-mail" id="e-mail" required></textarea>
                </div>
                <div class="form">
                    <label>Beschreibung</label>
                    <textarea name="discreption" id="discreption" required></textarea>
                </div>    
                <div class="form">
                   <button type="submit"><h3>Absenden</h3></button>
                </div>

                {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </form>
        </div>

    </main>

</body>


<footer>
    <script src="{% static 'homepage/js/mobile-nav.js'%}"></script>
</footer>